
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersoneLayout</title>
</head>
<body>
    Burası Personel layout bilgi alanıdır
    <br/>
    @RenderBody()
</body>
</html>
