
@{
    ViewData["Title"] = "PersonelDosyasi";
    Layout = "~/Views/AnaSayfa/PersoneLayout.cshtml";
}

<div style="background-color:antiquewhite">
<h1>PersonelDosyasi</h1>
Burası Personel Dosya işlem yeridir
</div>
